.rotate_down .corner.front.right.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_down .corner.front.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_down .corner.front.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_down .corner.front.left.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_down .corner.front.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_down .corner.front.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_down .corner.back.right.up .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_down .corner.back.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_down .corner.back.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_down .corner.back.left.up .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_down .corner.back.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_down .corner.back.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_down .edge.front.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_down .edge.front.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_down .edge.front.left .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_down .edge.front.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_down .edge.front.right .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_down .edge.front.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_down .edge.back.up .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_down .edge.back.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_down .edge.back.left .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_down .edge.back.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_down .edge.back.right .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_down .edge.back.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_down .edge.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_down .edge.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_down .edge.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_down .edge.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_down .center.front .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_down .center.back .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_down .center.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_down .center.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_down .center.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
