.rotate_right .corner.front.left.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_right .corner.front.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_right .corner.front.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_right .corner.front.left.down .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_right .corner.front.left.down .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_right .corner.front.left.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_right .corner.back.left.up .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_right .corner.back.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_right .corner.back.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_right .corner.back.left.down .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_right .corner.back.left.down .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_right .corner.back.left.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_right .edge.front.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_right .edge.front.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_right .edge.front.down .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_right .edge.front.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_right .edge.front.left .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_right .edge.front.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_right .edge.back.up .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_right .edge.back.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_right .edge.back.down .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_right .edge.back.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_right .edge.back.left .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_right .edge.back.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_right .edge.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_right .edge.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_right .edge.left.down .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_right .edge.left.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_right .center.front .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_right .center.back .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_right .center.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_right .center.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_right .center.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
