.rotate_left_cw .cubie.left { animation-name: rotate_left_cw-animation; }
.rotate_left_cw .csscube-header:after { content: 'L'; }
.rotate_left_cw .corner.front.left.up .sticker.front:after { content: var(--csscube-down-arrow); }
.rotate_left_cw .corner.front.left.up .sticker.up:after { content: var(--csscube-down-arrow); }
.rotate_left_cw .corner.front.left.down .sticker.front:after { content: var(--csscube-down-arrow); }
.rotate_left_cw .corner.front.left.down .sticker.down:after { content: var(--csscube-down-arrow); }
.rotate_left_cw .corner.back.left.up .sticker.back:after { content: var(--csscube-up-arrow); }
.rotate_left_cw .corner.back.left.up .sticker.up:after { content: var(--csscube-down-arrow); }
.rotate_left_cw .corner.back.left.down .sticker.back:after { content: var(--csscube-up-arrow); }
.rotate_left_cw .corner.back.left.down .sticker.down:after { content: var(--csscube-down-arrow); }
.rotate_left_cw .edge.front.left .sticker.front:after { content: var(--csscube-down-arrow); }
.rotate_left_cw .edge.back.left .sticker.back:after { content: var(--csscube-up-arrow); }
.rotate_left_cw .edge.left.up .sticker.up:after { content: var(--csscube-down-arrow); }
.rotate_left_cw .edge.left.down .sticker.down:after { content: var(--csscube-down-arrow); }

@keyframes rotate_left_cw-animation { 
	0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	50% { transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg); }
	75% { transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg); }
	80% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	100% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}
