.rotate_back_2 .cubie.back.right.up { animation-name: rotate_back_2-animation; }
.rotate_back_2 .cubie.back.right.down { animation-name: rotate_back_2-animation; }
.rotate_back_2 .cubie.back.left.up { animation-name: rotate_back_2-animation; }
.rotate_back_2 .cubie.back.left.down { animation-name: rotate_back_2-animation; }
.rotate_back_2 .cubie.back.right { animation-name: rotate_back_2-animation; }
.rotate_back_2 .cubie.back.left { animation-name: rotate_back_2-animation; }
.rotate_back_2 .cubie.back.up { animation-name: rotate_back_2-animation; }
.rotate_back_2 .cubie.back.down { animation-name: rotate_back_2-animation; }
.rotate_back_2 .cubie.back { animation-name: rotate_back_2-animation; }
.rotate_back_2 .csscube-header:after { content: 'B2'; }

.rotate_back_2 .corner.back.right.up .sticker.right:after { content: var(--csscube-double-up-arrow); }
.rotate_back_2 .corner.back.right.up .sticker.up:after { content: var(--csscube-double-left-arrow); }
.rotate_back_2 .corner.back.left.up .sticker.left:after { content: var(--csscube-double-down-arrow); }
.rotate_back_2 .corner.back.left.up .sticker.up:after { content: var(--csscube-double-left-arrow); }
.rotate_back_2 .corner.back.right.down .sticker.right:after { content: var(--csscube-double-up-arrow); }
.rotate_back_2 .corner.back.right.down .sticker.down:after { content: var(--csscube-double-right-arrow); }
.rotate_back_2 .corner.back.left.down .sticker.left:after { content: var(--csscube-double-down-arrow); }
.rotate_back_2 .corner.back.left.down .sticker.down:after { content: var(--csscube-double-right-arrow); }
.rotate_back_2 .edge.back.up .sticker.up:after { content: var(--csscube-double-left-arrow); }
.rotate_back_2 .edge.back.down .sticker.down:after { content: var(--csscube-double-right-arrow); }
.rotate_back_2 .edge.back.left .sticker.left:after { content: var(--csscube-double-down-arrow); }
.rotate_back_2 .edge.back.right .sticker.right:after { content: var(--csscube-double-up-arrow); }

@keyframes rotate_back_2-animation { 
	0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	50% { transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg); }
	75% { transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg); }
	80% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	100% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}
