.rotate_up_ccw .cubie.up { animation-name: rotate_up_ccw-animation; }
.rotate_up_ccw .csscube-header:after { content: 'U\''; }
.rotate_up_ccw .corner.front.right.up .sticker.front:after { content: var(--csscube-right-arrow); }
.rotate_up_ccw .corner.front.right.up .sticker.right:after { content: var(--csscube-right-arrow); }
.rotate_up_ccw .corner.front.left.up .sticker.front:after { content: var(--csscube-right-arrow); }
.rotate_up_ccw .corner.front.left.up .sticker.left:after { content: var(--csscube-right-arrow); }
.rotate_up_ccw .corner.back.right.up .sticker.back:after { content: var(--csscube-right-arrow); }
.rotate_up_ccw .corner.back.right.up .sticker.right:after { content: var(--csscube-right-arrow); }
.rotate_up_ccw .corner.back.left.up .sticker.back:after { content: var(--csscube-right-arrow); }
.rotate_up_ccw .corner.back.left.up .sticker.left:after { content: var(--csscube-right-arrow); }
.rotate_up_ccw .edge.front.up .sticker.front:after { content: var(--csscube-right-arrow); }
.rotate_up_ccw .edge.back.up .sticker.back:after { content: var(--csscube-right-arrow); }
.rotate_up_ccw .edge.left.up .sticker.left:after { content: var(--csscube-right-arrow); }
.rotate_up_ccw .edge.right.up .sticker.right:after { content: var(--csscube-right-arrow); }

@keyframes rotate_up_ccw-animation { 
	0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	50% { transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg); }
	75% { transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg); }
	80% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	100% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}
