.rotate_back .corner.front.right.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_back .corner.front.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_back .corner.front.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_back .corner.front.left.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_back .corner.front.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_back .corner.front.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_back .corner.front.right.down .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_back .corner.front.right.down .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_back .corner.front.right.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_back .corner.front.left.down .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_back .corner.front.left.down .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_back .corner.front.left.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_back .edge.front.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_back .edge.front.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_back .edge.front.down .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_back .edge.front.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_back .edge.front.left .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_back .edge.front.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_back .edge.front.right .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_back .edge.front.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_back .edge.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_back .edge.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_back .edge.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_back .edge.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_back .edge.left.down .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_back .edge.left.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_back .edge.right.down .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_back .edge.right.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_back .center.front .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_back .center.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_back .center.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_back .center.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_back .center.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
