.rotate_up_cw .cubie.up { animation-name: rotate_up_cw-animation; }
.rotate_up_cw .csscube-header:after { content: 'U'; }
.rotate_up_cw .corner.front.right.up .sticker.front:after { content: var(--csscube-left-arrow); }
.rotate_up_cw .corner.front.right.up .sticker.right:after { content: var(--csscube-left-arrow); }
.rotate_up_cw .corner.front.left.up .sticker.front:after { content: var(--csscube-left-arrow); }
.rotate_up_cw .corner.front.left.up .sticker.left:after { content: var(--csscube-left-arrow); }
.rotate_up_cw .corner.back.right.up .sticker.back:after { content: var(--csscube-left-arrow); }
.rotate_up_cw .corner.back.right.up .sticker.right:after { content: var(--csscube-left-arrow); }
.rotate_up_cw .corner.back.left.up .sticker.back:after { content: var(--csscube-left-arrow); }
.rotate_up_cw .corner.back.left.up .sticker.left:after { content: var(--csscube-left-arrow); }
.rotate_up_cw .edge.front.up .sticker.front:after { content: var(--csscube-left-arrow); }
.rotate_up_cw .edge.back.up .sticker.back:after { content: var(--csscube-left-arrow); }
.rotate_up_cw .edge.left.up .sticker.left:after { content: var(--csscube-left-arrow); }
.rotate_up_cw .edge.right.up .sticker.right:after { content: var(--csscube-left-arrow); }

@keyframes rotate_up_cw-animation { 
	0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	50% { transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg); }
	75% { transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg); }
	80% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	100% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}
