.rotate_left .corner.front.right.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_left .corner.front.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_left .corner.front.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_left .corner.front.right.down .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_left .corner.front.right.down .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_left .corner.front.right.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_left .corner.back.right.up .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_left .corner.back.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_left .corner.back.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_left .corner.back.right.down .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_left .corner.back.right.down .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_left .corner.back.right.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_left .edge.front.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_left .edge.front.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_left .edge.front.down .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_left .edge.front.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_left .edge.front.right .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_left .edge.front.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_left .edge.back.up .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_left .edge.back.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_left .edge.back.down .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_left .edge.back.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_left .edge.back.right .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_left .edge.back.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_left .edge.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_left .edge.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_left .edge.right.down .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_left .edge.right.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_left .center.front .sticker.front { background-color: var(--csscube-front-color-inactive); }
.rotate_left .center.back .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_left .center.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_left .center.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_left .center.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
