.rotate_left_2 .cubie.left { animation-name: rotate_left_2-animation; }
.rotate_left_2 .csscube-header:after { content: 'L2'; }
.rotate_left_2 .corner.front.left.up .sticker.front:after { content: var(--csscube-double-down-arrow); }
.rotate_left_2 .corner.front.left.up .sticker.up:after { content: var(--csscube-double-down-arrow); }
.rotate_left_2 .corner.front.left.down .sticker.front:after { content: var(--csscube-double-down-arrow); }
.rotate_left_2 .corner.front.left.down .sticker.down:after { content: var(--csscube-double-down-arrow); }
.rotate_left_2 .corner.back.left.up .sticker.back:after { content: var(--csscube-double-up-arrow); }
.rotate_left_2 .corner.back.left.up .sticker.up:after { content: var(--csscube-double-down-arrow); }
.rotate_left_2 .corner.back.left.down .sticker.back:after { content: var(--csscube-double-up-arrow); }
.rotate_left_2 .corner.back.left.down .sticker.down:after { content: var(--csscube-double-down-arrow); }
.rotate_left_2 .edge.front.left .sticker.front:after { content: var(--csscube-double-down-arrow); }
.rotate_left_2 .edge.back.left .sticker.back:after { content: var(--csscube-double-up-arrow); }
.rotate_left_2 .edge.left.up .sticker.up:after { content: var(--csscube-double-down-arrow); }
.rotate_left_2 .edge.left.down .sticker.down:after { content: var(--csscube-double-down-arrow); }


@keyframes rotate_left_2-animation { 
	0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	50% { transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg); }
	75% { transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg); }
	80% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	100% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}
