.rotate_front_ccw .cubie.front { animation-name: rotate_front_ccw-animation; }
.rotate_front_ccw .csscube-header:after { content: 'F\''; }
.rotate_front_ccw .corner.front.right.up .sticker.right:after { content: var(--csscube-up-arrow); }
.rotate_front_ccw .corner.front.right.up .sticker.up:after { content: var(--csscube-left-arrow); }
.rotate_front_ccw .corner.front.left.up .sticker.left:after { content: var(--csscube-down-arrow); }
.rotate_front_ccw .corner.front.left.up .sticker.up:after { content: var(--csscube-left-arrow); }
.rotate_front_ccw .corner.front.right.down .sticker.right:after { content: var(--csscube-up-arrow); }
.rotate_front_ccw .corner.front.right.down .sticker.down:after { content: var(--csscube-right-arrow); }
.rotate_front_ccw .corner.front.left.down .sticker.left:after { content: var(--csscube-down-arrow); }
.rotate_front_ccw .corner.front.left.down .sticker.down:after { content: var(--csscube-right-arrow); }
.rotate_front_ccw .edge.front.up .sticker.up:after { content: var(--csscube-left-arrow); }
.rotate_front_ccw .edge.front.down .sticker.down:after { content: var(--csscube-right-arrow); }
.rotate_front_ccw .edge.front.left .sticker.left:after { content: var(--csscube-down-arrow); }
.rotate_front_ccw .edge.front.right .sticker.right:after { content: var(--csscube-up-arrow); }

@keyframes rotate_front_ccw-animation { 
	0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	50% { transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg); }
	75% { transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg); }
	80% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	100% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}
