.rotate_down_ccw .cubie.down { animation-name: rotate_down_ccw-animation; }
.rotate_down_ccw .csscube-header:after { content: 'D\''; }
.rotate_down_ccw .corner.front.right.down .sticker.front:after { content: var(--csscube-left-arrow); }
.rotate_down_ccw .corner.front.right.down .sticker.right:after { content: var(--csscube-left-arrow); }
.rotate_down_ccw .corner.front.left.down .sticker.front:after { content: var(--csscube-left-arrow); }
.rotate_down_ccw .corner.front.left.down .sticker.left:after { content: var(--csscube-left-arrow); }
.rotate_down_ccw .corner.back.right.down .sticker.back:after { content: var(--csscube-left-arrow); }
.rotate_down_ccw .corner.back.right.down .sticker.right:after { content: var(--csscube-left-arrow); }
.rotate_down_ccw .corner.back.left.down .sticker.back:after { content: var(--csscube-left-arrow); }
.rotate_down_ccw .corner.back.left.down .sticker.left:after { content: var(--csscube-left-arrow); }
.rotate_down_ccw .edge.front.down .sticker.front:after { content: var(--csscube-left-arrow); }
.rotate_down_ccw .edge.back.down .sticker.back:after { content: var(--csscube-left-arrow); }
.rotate_down_ccw .edge.left.down .sticker.left:after { content: var(--csscube-left-arrow); }
.rotate_down_ccw .edge.right.down .sticker.right:after { content: var(--csscube-left-arrow); }

@keyframes rotate_down_ccw-animation { 
	0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	50% { transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg); }
	75% { transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg); }
	80% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	100% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}
