.rotate_up_2 .cubie.up { animation-name: rotate_up_2-animation; }
.rotate_up_2 .csscube-header:after { content: 'U2'; }
.rotate_up_2 .corner.front.right.up .sticker.front:after { content: var(--csscube-double-left-arrow); }
.rotate_up_2 .corner.front.right.up .sticker.right:after { content: var(--csscube-double-left-arrow); }
.rotate_up_2 .corner.front.left.up .sticker.front:after { content: var(--csscube-double-left-arrow); }
.rotate_up_2 .corner.front.left.up .sticker.left:after { content: var(--csscube-double-left-arrow); }
.rotate_up_2 .corner.back.right.up .sticker.back:after { content: var(--csscube-double-left-arrow); }
.rotate_up_2 .corner.back.right.up .sticker.right:after { content: var(--csscube-double-left-arrow); }
.rotate_up_2 .corner.back.left.up .sticker.back:after { content: var(--csscube-double-left-arrow); }
.rotate_up_2 .corner.back.left.up .sticker.left:after { content: var(--csscube-double-left-arrow); }
.rotate_up_2 .edge.front.up .sticker.front:after { content: var(--csscube-double-left-arrow); }
.rotate_up_2 .edge.back.up .sticker.back:after { content: var(--csscube-double-left-arrow); }
.rotate_up_2 .edge.left.up .sticker.left:after { content: var(--csscube-double-left-arrow); }
.rotate_up_2 .edge.right.up .sticker.right:after { content: var(--csscube-double-left-arrow); }

@keyframes rotate_up_2-animation { 
	0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	50% { transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg); }
	75% { transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg); }
	80% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	100% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}
