.rotate_right_2 .cubie.right { animation-name: rotate_right_2-animation; }
.rotate_right_2 .csscube-header:after { content: 'R2'; }
.rotate_right_2 .corner.front.right.up .sticker.front:after { content: var(--csscube-double-up-arrow); }
.rotate_right_2 .corner.front.right.up .sticker.up:after { content: var(--csscube-double-up-arrow); }
.rotate_right_2 .corner.front.right.down .sticker.front:after { content: var(--csscube-double-up-arrow); }
.rotate_right_2 .corner.front.right.down .sticker.down:after { content: var(--csscube-double-up-arrow); }
.rotate_right_2 .corner.back.right.up .sticker.back:after { content: var(--csscube-double-down-arrow); }
.rotate_right_2 .corner.back.right.up .sticker.up:after { content: var(--csscube-double-up-arrow); }
.rotate_right_2 .corner.back.right.down .sticker.back:after { content: var(--csscube-double-down-arrow); }
.rotate_right_2 .corner.back.right.down .sticker.down:after { content: var(--csscube-double-up-arrow); }
.rotate_right_2 .edge.front.right .sticker.front:after { content: var(--csscube-double-up-arrow); }
.rotate_right_2 .edge.back.right .sticker.back:after { content: var(--csscube-double-down-arrow); }
.rotate_right_2 .edge.right.up .sticker.up:after { content: var(--csscube-double-up-arrow); }
.rotate_right_2 .edge.right.down .sticker.down:after { content: var(--csscube-double-up-arrow); }

@keyframes rotate_right_2-animation { 
	0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	50% { transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg); }
	75% { transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg); }
	80% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	100% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}
