.rotate_front .corner.back.right.up .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_front .corner.back.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_front .corner.back.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_front .corner.back.left.up .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_front .corner.back.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_front .corner.back.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_front .corner.back.right.down .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_front .corner.back.right.down .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_front .corner.back.right.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_front .corner.back.left.down .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_front .corner.back.left.down .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_front .corner.back.left.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_front .edge.back.up .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_front .edge.back.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_front .edge.back.down .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_front .edge.back.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_front .edge.back.left .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_front .edge.back.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_front .edge.back.right .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_front .edge.back.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_front .edge.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_front .edge.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_front .edge.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_front .edge.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_front .edge.left.down .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_front .edge.left.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_front .edge.right.down .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_front .edge.right.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.rotate_front .center.back .sticker.back { background-color: var(--csscube-back-color-inactive); }
.rotate_front .center.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.rotate_front .center.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.rotate_front .center.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.rotate_front .center.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
