.corner.front.right.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.corner.front.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.corner.front.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.corner.front.left.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.corner.front.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.corner.front.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.corner.front.right.down .sticker.front { background-color: var(--csscube-front-color-inactive); }
.corner.front.right.down .sticker.right { background-color: var(--csscube-right-color-inactive); }
.corner.front.right.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.corner.front.left.down .sticker.front { background-color: var(--csscube-front-color-inactive); }
.corner.front.left.down .sticker.left { background-color: var(--csscube-left-color-inactive); }
.corner.front.left.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.edge.front.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.edge.front.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.edge.front.down .sticker.front { background-color: var(--csscube-front-color-inactive); }
.edge.front.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.edge.front.left .sticker.front { background-color: var(--csscube-front-color-inactive); }
.edge.front.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.edge.front.right .sticker.front { background-color: var(--csscube-front-color-inactive); }
.edge.front.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.edge.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.edge.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.edge.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.edge.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.edge.left.down .sticker.left { background-color: var(--csscube-left-color-inactive); }
.edge.left.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.edge.right.down .sticker.right { background-color: var(--csscube-right-color-inactive); }
.edge.right.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.center.front .sticker.front { background-color: var(--csscube-front-color-inactive); }
.center.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.center.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.center.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.center.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
