.corner.front.right.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.corner.front.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.corner.front.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.corner.front.left.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.corner.front.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.corner.front.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.corner.back.right.up .sticker.back { background-color: var(--csscube-back-color-inactive); }
.corner.back.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.corner.back.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.corner.back.left.up .sticker.back { background-color: var(--csscube-back-color-inactive); }
.corner.back.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.corner.back.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.edge.front.up .sticker.front { background-color: var(--csscube-front-color-inactive); }
.edge.front.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.edge.front.left .sticker.front { background-color: var(--csscube-front-color-inactive); }
.edge.front.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.edge.front.right .sticker.front { background-color: var(--csscube-front-color-inactive); }
.edge.front.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.edge.back.up .sticker.back { background-color: var(--csscube-back-color-inactive); }
.edge.back.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.edge.back.left .sticker.back { background-color: var(--csscube-back-color-inactive); }
.edge.back.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.edge.back.right .sticker.back { background-color: var(--csscube-back-color-inactive); }
.edge.back.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.edge.left.up .sticker.left { background-color: var(--csscube-left-color-inactive); }
.edge.left.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.edge.right.up .sticker.right { background-color: var(--csscube-right-color-inactive); }
.edge.right.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
.center.front .sticker.front { background-color: var(--csscube-front-color-inactive); }
.center.back .sticker.back { background-color: var(--csscube-back-color-inactive); }
.center.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.center.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.center.up .sticker.up { background-color: var(--csscube-up-color-inactive); }
