.corner.front.right.down .sticker.front { background-color: var(--csscube-front-color-inactive); }
.corner.front.right.down .sticker.right { background-color: var(--csscube-right-color-inactive); }
.corner.front.right.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.corner.front.left.down .sticker.front { background-color: var(--csscube-front-color-inactive); }
.corner.front.left.down .sticker.left { background-color: var(--csscube-left-color-inactive); }
.corner.front.left.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.corner.back.right.down .sticker.back { background-color: var(--csscube-back-color-inactive); }
.corner.back.right.down .sticker.right { background-color: var(--csscube-right-color-inactive); }
.corner.back.right.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.corner.back.left.down .sticker.back { background-color: var(--csscube-back-color-inactive); }
.corner.back.left.down .sticker.left { background-color: var(--csscube-left-color-inactive); }
.corner.back.left.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.edge.front.down .sticker.front { background-color: var(--csscube-front-color-inactive); }
.edge.front.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.edge.front.left .sticker.front { background-color: var(--csscube-front-color-inactive); }
.edge.front.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.edge.front.right .sticker.front { background-color: var(--csscube-front-color-inactive); }
.edge.front.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.edge.back.down .sticker.back { background-color: var(--csscube-back-color-inactive); }
.edge.back.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.edge.back.left .sticker.back { background-color: var(--csscube-back-color-inactive); }
.edge.back.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.edge.back.right .sticker.back { background-color: var(--csscube-back-color-inactive); }
.edge.back.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.edge.left.down .sticker.left { background-color: var(--csscube-left-color-inactive); }
.edge.left.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.edge.right.down .sticker.right { background-color: var(--csscube-right-color-inactive); }
.edge.right.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
.center.front .sticker.front { background-color: var(--csscube-front-color-inactive); }
.center.back .sticker.back { background-color: var(--csscube-back-color-inactive); }
.center.left .sticker.left { background-color: var(--csscube-left-color-inactive); }
.center.right .sticker.right { background-color: var(--csscube-right-color-inactive); }
.center.down .sticker.down { background-color: var(--csscube-down-color-inactive); }
