@import "../csscube-colors.css";
@import "../csscube.css";
@import "../masks/backactive.css";

.cube.rotate { 
	transition: transform 1s;
	transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
}

@media(hover: hover) and (pointer: fine) {
	.cube.rotate:hover {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
}

.cube.rotate:active {
	transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.corner.back.right.up .sticker.right:after { content: var(--csscube-up-arrow); }
.corner.back.right.up .sticker.up:after { content: var(--csscube-left-arrow); }
.corner.back.left.up .sticker.left:after { content: var(--csscube-down-arrow); }
.corner.back.left.up .sticker.up:after { content: var(--csscube-left-arrow); }
.corner.back.right.down .sticker.right:after { content: var(--csscube-up-arrow); }
.corner.back.right.down .sticker.down:after { content: var(--csscube-right-arrow); }
.corner.back.left.down .sticker.left:after { content: var(--csscube-down-arrow); }
.corner.back.left.down .sticker.down:after { content: var(--csscube-right-arrow); }
.edge.back.up .sticker.up:after { content: var(--csscube-left-arrow); }
.edge.back.down .sticker.down:after { content: var(--csscube-right-arrow); }
.edge.back.left .sticker.left:after { content: var(--csscube-down-arrow); }
.edge.back.right .sticker.right:after { content: var(--csscube-up-arrow); }
