@import "../csscube-colors.css";
@import "../csscube.css";
@import "../masks/leftactive.css";

.cube.rotate { 
	transition: transform 1s;
	transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

@media(hover: hover) and (pointer: fine) {
	.cube.rotate:hover {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
}

.cube.rotate:active {
	transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.corner.front.left.up .sticker.front:after { content: var(--csscube-up-arrow); }
.corner.front.left.up .sticker.up:after { content: var(--csscube-up-arrow); }
.corner.front.left.down .sticker.front:after { content: var(--csscube-up-arrow); }
.corner.front.left.down .sticker.down:after { content: var(--csscube-up-arrow); }
.corner.back.left.up .sticker.back:after { content: var(--csscube-down-arrow); }
.corner.back.left.up .sticker.up:after { content: var(--csscube-up-arrow); }
.corner.back.left.down .sticker.back:after { content: var(--csscube-down-arrow); }
.corner.back.left.down .sticker.down:after { content: var(--csscube-up-arrow); }
.edge.front.left .sticker.front:after { content: var(--csscube-up-arrow); }
.edge.back.left .sticker.back:after { content: var(--csscube-down-arrow); }
.edge.left.up .sticker.up:after { content: var(--csscube-up-arrow); }
.edge.left.down .sticker.down:after { content: var(--csscube-up-arrow); }
