@import "../csscube-colors.css";
@import "../csscube.css";
@import "../masks/upactive.css";

.cube.rotate { 
	transition: transform 1s;
	transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

@media(hover: hover) and (pointer: fine) {
	.cube.rotate:hover {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
}

.cube.rotate:active {
	transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.corner.front.right.up .sticker.front:after { content: var(--csscube-left-arrow); }
.corner.front.right.up .sticker.right:after { content: var(--csscube-left-arrow); }
.corner.front.left.up .sticker.front:after { content: var(--csscube-left-arrow); }
.corner.front.left.up .sticker.left:after { content: var(--csscube-left-arrow); }
.corner.back.right.up .sticker.back:after { content: var(--csscube-left-arrow); }
.corner.back.right.up .sticker.right:after { content: var(--csscube-left-arrow); }
.corner.back.left.up .sticker.back:after { content: var(--csscube-left-arrow); }
.corner.back.left.up .sticker.left:after { content: var(--csscube-left-arrow); }
.edge.front.up .sticker.front:after { content: var(--csscube-left-arrow); }
.edge.back.up .sticker.back:after { content: var(--csscube-left-arrow); }
.edge.left.up .sticker.left:after { content: var(--csscube-left-arrow); }
.edge.right.up .sticker.right:after { content: var(--csscube-left-arrow); }
